@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply
  bg-white dark:bg-pleasant-black
  text-black dark:text-white
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* nav styles */
nav {
  @apply
  pb-4
  border-b-2 border-gray-200
  flex items-center gap-5 
  my-5 mx-auto 
  max-w-5xl;
}
nav a, nav span {
  @apply text-gray-700 dark:text-white;
}
nav a:hover {
  @apply 
  text-black dark:text-gray-500;
}
main nav {
  @apply border-0;
}
h1 {
  @apply font-bold text-center text-lg;
}

span {
  @apply my-2;
}

/* button styles */
.button {
  @apply 
  px-3 py-2 
  rounded-full
  flex justify-center
  bg-blue
  font-bold
  text-white
  my-5
  w-auto inline-block;
}
button:hover {
  @apply bg-opacity-90;
}

